.service-modal {

  .slick-dots {
    background: #b1779c;
    padding: 8px !important;
    bottom: 6px !important;
  }

  .service-content {
    padding: 2%;
  }

  .basic-info {
    margin-top: 20px;
    padding: 3% 8%;
  }

  .ant-modal-close-x {
    background: white;
    border-radius: 50%;
  }

  .ant-btn-primary {
    background: linear-gradient(140deg, rgb(230, 159, 225) 0%, rgb(38, 66, 211) 100%);
    border-radius: 8px;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: none;

    &:hover, &:active, &:focus {
      border: 2px solid rgb(38, 66, 211);
      background: white;
      color: rgb(38, 66, 211);
    }
  }
}

// @media screen and (max-width: 1000px) {
//   .service-modal {
//     width: 90% !important;
//   }
// }

.service-modal-content {
  padding: 2% 9%;
}