.service-modal {
  width: 60% !important;
  top: 10px !important;

  .ant-modal-content {
    .ant-modal-body {
      padding: 0;

      .service-content {
        padding: 2%;
      }

      .basic-info {
        padding: 3% 8%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .service-modal {
    width: 90% !important;
  }
}