.service-modal {
  width: 60% !important;
  top: 10px !important;

  .slick-dots {
    background: #b1779c;
    padding: 8px !important;
    bottom: 6px !important;
  }

  .ant-modal-content {
    .ant-modal-body {
      padding: 0;

      .service-content {
        padding: 2%;
      }

      .basic-info {
        padding: 3% 8%;
      }
    }
  }

  .ant-modal-close-x {
    background: white;
    border-radius: 50%;
  }

  .ant-btn-primary {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .service-modal {
    width: 90% !important;
  }
}