.card-container {
    padding: 40px;
}

.tab-content {
    display: flex;
    flex-direction: row;
    flex: 1;

    .filters-wrapper {
        flex: 2;
    }

    .data-wrapper {
        flex: 7;
    }
}

.ant-tabs-nav-scroll {
    display: flex;
    justify-content: center;
}