$img-height: 450px;

.ant-carousel .slick-slide {
  height: $img-height;
  // line-height: 400px;
  // background: #364d79;
  // overflow: hidden;
  
  img {
    margin: auto;
    height: $img-height;
  }
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}