{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "flowtype", "jsx-a11y", "import"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["assets/*", "./src/assets"],
          ["core/*", "./src/core"],
          ["data/*", "./src/data"],
          ["pages/*", "./src/pages"],
          ["services/*", "./src/services"],
          ["store/*", "./src/store"],
          ["styles/*", "./src/styles"]
        ],
        "extensions": [".js"]
      }
    }
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "default-case": ["warn"],
    "dot-notation": ["warn"],
    "no-plusplus": ["off"],
    "padded-blocks": ["off"],
    "no-underscore-dangle": ["off"],
    "arrow-parens": ["off"],
    "class-methods-use-this": ["warn"],
    "consistent-return": ["warn"],
    "no-nested-ternary": ["off"],
    "no-lonely-if": ["warn"],
    "global-require": ["off"],
    "import/no-dynamic-require": ["off"],
    "import/prefer-default-export": ["off"],
    "import/no-extraneous-dependencies": [
      "warn",
      {
        "packageDir": "./"
      }
    ],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "react/forbid-prop-types": ["off"],
    "react/jsx-indent": ["warn", 2],
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js"]
      }
    ],
    "react/no-unused-prop-types": ["off"],
    "react/no-array-index-key": ["off"],
    "react/prefer-stateless-function": [
      "off",
      {
        "ignorePureComponents": true
      }
    ],
    "react/prop-types": ["off"],
    "jsx-a11y/href-no-hash": ["off"],
    "jsx-a11y/img-has-alt": ["off"],
    "jsx-a11y/label-has-for": ["warn"],
    "prefer-destructuring": ["off"],
    "function-paren-newline": ["warn"],
    "object-curly-newline": ["warn"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "react/jsx-curly-brace-presence": ["warn"],
    "jsx-a11y/click-events-have-key-events": ["off"],
    "react/default-props-match-prop-types": ["off"],
    "no-restricted-globals": ["warn"],
    "prefer-promise-reject-errors": ["warn"],
    "react/no-unused-state": ["warn"],
    "no-buffer-constructor": ["warn"],
    "react/jsx-closing-tag-location": ["warn"],
    "react/jsx-max-props-per-line": ["warn"],
    "react/no-typos": ["warn"],
    "jsx-a11y/iframe-has-title": ["warn"],
    "react/no-will-update-set-state": ["warn"],
    "jsx-a11y/no-noninteractive-element-interactions": ["off"],
    "comma-dangle": ["warn"],
    "flowtype/define-flow-type": 1,
    "react/destructuring-assignment": ["off"],
    "max-len": [
      "error",
      {
        "code": 110
      }
    ],
    "no-bitwise": ["error", { "allow": ["&"] }]
  }
}
