
.food-info {
  padding: 4%;
  margin-bottom: 110px;

  .text-right  {
    margin: 15px;
  }

  .food-package-wrap {
    padding: 10px 10px 10px 15px;

    
    .ant-radio-group {
      width: 100%;
    }

    .food-package {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid #eae7e7;
      margin-bottom: 7px;

      span {
        width: 100%;
      }

      .ant-radio {
        width: 16.5px;
      }

      .food-package-content {
        display: flex;
        flex-direction: column;
  
        .title-line {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          h3 {
            margin: 0;
          }
        }

        p {
          white-space: normal;
          margin: 3px;
        }

        img {
          width: 23px;
          padding: 3px;
        }
      }
    }

  }

  .menu {
    .menu-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.1px solid #cbd0d8;
      
      .menu-item-text {
        padding-top: 10px;
        padding-left: 15px;
      }

      .menu-item-price {
        margin: 0;
        padding-right: 10px;
        font-size: 14px;
      }

      i {
        font-size: 26px;
      }

    }
  }
}


.menu-item-modal {
  .menu-form-item {
    margin: 5px;
  }
  
  .menu-item-price {
    text-align: right;
    margin-top: 20px;
  }
  
  .menu-item-description {
    text-align: center;
    margin-bottom: 25px;
  }

}