.faq-container {
  // min-height: 50vh;
  padding: 5%;
  

  h1 {
    text-align: center;
  }
  
  h3 {
    padding: 2% 10%;
    text-align: center;
  }

  .question-form-title {
    margin-top: 10%;
  }
}