.filter-banner {
    background-image: url('../../../assets/birthday-girl.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
        font-size: 52px;
        text-align: center;
    }
}