
.service-card {
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
  width: 200px;
  display: flex !important;
  align-items: flex-start;
  justify-content: flex-end;

  .service-provider-logo {
   width: 30px;
   height: 30px;
   margin: 5px;
   border: 1px solid grey;
  }
}