$footer-height: 9vh;

.suppliers-list-page {

    .suppliers-steps {
        padding: 40px 10px 20px;
        overflow-x: scroll;
        overflow-y: hidden;
        max-width: 1340px;
        margin: 0 auto;
    }

    .suppliers-content {
        padding: 20px;

        .data-wrapper {
            h2 {
                padding-top: 15px;
            }
        }
    }

    .services-header {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        // button {
        //     float: right;
        // }
    }

}

.welcome-modal {
    h1 {
        margin: 0;
        font-size: 20px;
    }
}

@media only screen and (max-width: 778px) {
    .suppliers-list-page {

        .services-header {
            flex-direction: column;
            justify-content: center;
        }
    }
}


.service-content {
    max-width: 1340px;
    margin: 0 auto;
    margin-bottom: 110px;
}

.ant-tabs-nav-scroll {
    display: flex;
    justify-content: center;
}