$grey: #c4d1d1;
$purple: #5d2dbb;
$yellow: #fedf64;
$orange: #ff9a85;
$dark-purple: #421795;

.text-with-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;

  h3 {
    color: $grey;
  }

  .detail-icon {
    font-size: 30px;
    color: $grey;
  }
}

.detail-active i {
  color: $purple !important;
}

.detail-active h3 {
  color: $purple;
}
