@import './antd.scss';

@import 'breakpoints';
@import 'variables';
@import 'mixins';


body {
  background-color: white;
}

footer {
  text-align: center;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  color: $purple;
}

i {
  color: $orange;
}

.ant-btn {
  i {
    color: $purple;
  }
}

.ant-btn-primary {
  i {
    color: white;
  }
}

#root {
  overflow-x: hidden;
}

.ant-tabs-ink-bar {
  background-color: orange;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one-line-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.three-line-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);  
}

.mt-30 {
  margin-top: 30px;
}

.no-style-btn {
    background: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}





// suppliers list

.suppliers-list-page {

    // @include lg {
    //   .tab-content {
    //       display: flex;
    //       flex-direction: row;
      
    //       .filters-wrapper {
    //           width: 20%;
    //       }
      
    //       .data-wrapper {
    //           width: 80%;
    //       }
    //   }
    // }

    @include xl {
        .tab-content {
          display: flex;
          flex-direction: row;
          flex: 1;
      
          .filters-wrapper {
              width: 20%;
          }
      
          .data-wrapper {
              width: 80%;
          }
      }
    }
}


// filters section

@include sm {
  .filters-container {
    display: flex;
    flex-direction: row;
  }
}

@include md {
  .filters-container {
    display: flex;
    flex-direction: column;
  }

}
