@import '~antd/dist/antd.css';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@import 'breakpoints';
@import 'variables';
@import 'mixins';


body {
  background-color: #f5f5f5;
}

footer {
  text-align: center;
}

#root {
  overflow-x: hidden;
}

.ant-tabs-ink-bar {
  background-color: orange;
}

.text-center {
  text-align: center;
}

.one-line-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mt-30 {
  margin-top: 30px;
}

.no-style-btn {
    background: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}





// suppliers list

.suppliers-list-page {

    @include md {
      .tab-content {
          display: flex;
          flex-direction: row;
      
          .filters-wrapper {
              width: 25%;
          }
      
          .data-wrapper {
              width: 75%;
          }
      }
    }

    @include xl {
        .tab-content {
          display: flex;
          flex-direction: row;
          flex: 1;
      
          .filters-wrapper {
              width: 20%;
          }
      
          .data-wrapper {
              width: 80%;
          }
      }
    }
}


// filters section

@include sm {
  .filters-container {
    display: flex;
    flex-direction: row;
  }
}

@include md {
  .filters-container {
    display: flex;
    flex-direction: column;
  }

}
