#header {
  display: flex;
  padding: 20px !important;
  // flex: 1;
  // flex-direction: row;
  // justify-content: space-between;
  background-color: white;
}

#menu {
  font-size: 1.7vh !important;
  padding: 1.7vh 1vh 0.5vh 0.5vh;
  text-align: right;
  height: auto;
  z-index: 99;
  flex: 8;
}

#new-service-provider {
  background-color: rgb(255, 217, 42) !important;
  border-radius: 10px;
  padding: 8px 8px 8px 8px;
  margin: 0 10px;
  display: inline-block;
}

.menu-item-plain {
  padding: 5px 10px;
  border-right: 0.5px solid grey;
}

.menu-item {
  color: inherit;
}

.menu-item:active,
.menu-item:focus,
.menu-item:hover
{
  color: #498fa0 !important;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
  border-right: 0.5px solid grey !important;
  font-weight: bold;
}

#logo {
  cursor: pointer;
  width: 15vh;
  flex: 2;
}

.logo-img {
  width: inherit;
}