
.card-dropdown-link {

  .ant-badge {
    font-size: 26px;
    cursor: pointer;
    margin: 5px 15px;
  }
}

.cart-menu-wrapper {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08), 0px 0px 4px rgba(0, 0, 0, 0.05);
}

.cart-row {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .service-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:first {
      padding-right: 20px;
    }

    p {
      margin: 0;
      padding: 5px;
    }
  }

  img {
    width: 20px;
  }

  h4 {
    margin: 10px;
  }
}