$footer-height: 9vh;

.jubilee-form {
  min-height: 90vh;
  margin-bottom: $footer-height;

  h1 {
    padding: 30px 10px 20px 10px;
    font-size: 20px;
  }
  
  .steps {
    padding: 2% 10%;
  }

  .jubilee-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 6%;


    .question-title {
      font-size: 16px;
    }

    .jubilee-name {
      width: 100%;
      text-align: center;

      button {
        margin: 15px;
        font-size: 13px;
      }

      .jubilee-name-input {
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .anticon-delete {
          margin: 2px 10px;
          color: red;
        }
      }
    }

    .gender-question {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .gender-option {
        margin: 20px;
        padding: 20px;
        cursor: pointer;
        width: 40%;
        // height: 200px;
      }
    }

    .age-question {
      .age-option {
        padding: 40px;
        cursor: pointer;
      }
    }
  
    .jubilee-interests {
      text-align: center;
  
      h2 {
        padding-bottom: 3%;
      }
  
      .interest-btn {
        margin: 5px;
      }

      .active-btn {
        border-color: #ff9a85;
        color: #ff9a85;
      }

      .add-btn {
        background: #fff;
        border-style: dashed;
      }
    }

    .birthday-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      
      .birthday-date-row {
        width: 100%;
        text-align: center;
  
        .time-select, .guest-select {
          width: 70%;
        }
      }

      .ready-text {
        margin-top: 20%;
      }
    }

    .jubilee-guests {
      text-align: center;
    }
  }

  .footer-actions {
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;

    button {
      margin: 0 8px;
      height: 34px;
    }
  }
}


@media only screen and (min-width: 778px) {
  .jubilee-form {

    h1 {
      font-size: 28px;
      padding-top: 40px;
    }    

    .jubilee-content {

      .question-title {
        font-size: 20px;
      }

      .jubilee-name {

        button {
          margin: 15px;
          font-size: 13px;
        }

      }
    
      .jubilee-interests {
        text-align: center;

        .interest-btn {
          margin: 10px;
        }
      }

      .birthday-info {
        .birthday-date-row {
          width: 100%;
    
          .birthday-date-col-1 {
            text-align: right;
          }
    
          .birthday-date-col-2 {
            text-align: left;
          }
    
          .birthday-date-col-1, .birthday-date-col-2 {
            width: 50%;
          }
    
          .time-select, .guest-select {
            min-width: 60%;
          }
        }
      }
    }

    .footer-actions {

      button {
        height: 38px;
      }
    }
  }
}
