#header {
  display: flex;
  padding: 7px !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e4e3;
  box-shadow: 2px 0px 10px #e0e4e3;

  .logo-img {
    cursor: pointer;
    width: 150px;
  }

  .header-icon {
    font-size: 30px;
    margin: 5px;
  }
}