#header {
  padding: 7px !important;
  border-bottom: 1px solid #e0e4e3;
  box-shadow: 2px 0px 10px #e0e4e3;
  background: #fff;
  width: 100%;
  height: 70px;
  z-index: 5;

  @media (max-width: 400px) {
    height: 85px;
  }

  .mobile-contacts {
    display: none;
  }

  h4 {
    margin: 10px 0;
    color: #662986;

    i {
      font-size: 18px;
      margin-right: 5px;
      color: #662986;
    }
  }
  
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1340px;
    margin: 0 auto;

    .inner-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    @media (max-width: 400px) {
      flex-direction: column;

      .mobile-contacts {
        display: block;
      }

      .desktop-contacts {
        display: none;
      }
    }
  }

  .logo-img {
    cursor: pointer;
    width: 40px;
    margin-left: 5px;
  }

  .header-icon {
    font-size: 20px;
    margin: 5px;
    margin-right: 15px;
  }

  i {
    color: grey;
  }
  
}

.drawer-menu {
  i {
    font-size: 20px;
    margin: 5px 10px 5px 2px;
  }

  h4 {
    i {
      font-size: 18px;
    }
  }
}


@media only screen and (min-width: 778px) {
  .drawer-menu {
    i {
      font-size: 30px;
      margin: 5px 10px 5px 2px;
    }
  }
}
