$img-height: 450px;

.ant-carousel .slick-slide {
  height: $img-height;
  // line-height: 400px;
  // background: #364d79;
  // overflow: hidden;
  
  img {
    margin: auto;
    height: $img-height;
  }
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ImageCarousel {
  .image-gallery-slide img {
    object-fit: contain;
    height: 400px;
  }

  .image-gallery-fullscreen-button::before, .image-gallery-play-button::before, .image-gallery-left-nav::before, .image-gallery-right-nav::before {
    text-shadow: 1px 1px 9px #221340;
  }
}