$grey: #c4d1d1;
$blue: #1b9ea3;
$yellow: #fedf64;
$orange: #f6884d;
$purple: #682465;

.text-with-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;

  h3 {
    color: $grey;
  }

  .detail-icon {
    font-size: 30px;
    color: $grey;
  }
}

.detail-active i {
  color: $blue !important;
}

.detail-active h3 {
  color: $blue;
}
