$footer-height: 9vh;

.service-footer {
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: $footer-height;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
    
    
  .service-footer-actions {
    width: 100%;
    padding-top: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    margin: 0 8px;
    height: 34px;
  }
  
  .right-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin: 0;
      text-decoration: underline;
      margin: 6px;
      cursor: pointer;
    }
  }

  .contact-p {
    padding-top: 10px;
  }
}



@media only screen and (min-width: 778px) {
  .service-footer-actions {

    button {
      height: 38px;
    }
  }
}
