$footer-height: 75px;

.service-footer {
  background-color: #fbfbfb;
  box-shadow: 2px 0px 10px #acaab1;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
    
    
  .service-footer-actions {
    width: 100%;
    padding-top: 3px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  button {
    margin: 4px 2px;
    height: 34px;
  }
  
  .right-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin: 0;
      text-decoration: underline;
      margin: 6px;
      cursor: pointer;
    }
  }

  .contact-p {
    padding-top: 15px;
    margin-bottom: 0.5em;
  }
}



@media only screen and (min-width: 778px) {
  .service-footer {
    .service-footer-actions {
      padding-top: 10px; 

      button {
        height: 38px;
        margin: 4px 2%;
      }
    }
  }
}

@media only screen and (min-width: 400px) {
  .service-footer {
    .service-footer-actions {
      justify-content: center;
    }
  }
}
